body {
   background-color: black;
   color: white;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}
.container {
   margin: 0 0 50px 50px;
}
header {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}
header img {
   height: 100px;
}
header h1 {
   font-size: 32px;
   font-weight: 900;
   margin-left: 40px;
}
section {
   margin-bottom: 50px;
}
section h2 {
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 20px;
}
section div {
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
   overflow: hidden;
   overflow-x: auto;
}
section div img {
   width: 220px;
   height: 100%;
   object-fit: cover;
   opacity: 0.7;
}
section div img:hover {
   opacity: 1;
}
section div::-webkit-scrollbar {
   display: none;
}
